/* Login Page Styling */
.login-page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(210, 197, 197, 0.8),
            rgba(237, 231, 231, 0.3)),
        url("https://images.stockcake.com/public/2/e/a/2ea4afd6-7f13-4fb3-9fa3-93f6286ea6a3_large/elegant-abstract-wallpaper-stockcake.jpg");
    background-size: cover;
    background-position: center;
}

.login-container {
    background: rgba(255, 255, 255, 0.9);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

h1 {
    color: #444;
    margin-bottom: 1rem;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    text-align: left;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #555;
}

input {
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
}

input:focus {
    border-color: #2196F3;
    outline: none;
}

.error-message {
    color: #f44336;
    margin-bottom: 1rem;
    font-size: 0.9rem;
}

.success-message {
    color: #4CAF50;
    margin-bottom: 1rem;
    font-size: 0.9rem;
}

.login-button {
    padding: 0.8rem;
    background-color: #2196F3;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-button:hover {
    background-color: #1976D2;
}

.login-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}